/*
  Global Stylesheet
  Defines global styles for the application, ensuring consistency and responsiveness.
  Utilizes CSS variables and media queries for adaptive design.
*/

/* Global Reset and Box Sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --color-scheme: light dark;
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color-dark: #242424;
  --background-color-light: #ffffff;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-background-dark: #1a1a1a;
  --button-background-light: #f9f9f9;
  --button-hover-color: #646cff;
  --button-focus-outline: 4px auto -webkit-focus-ring-color;
}

/* Base Styles */
body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden; /* Hide horizontal overflow */
  overflow-y: scroll; /* Ensure vertical scrolling */
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color-scheme: var(--color-scheme);
  color: var(--text-color);
  background-color: var(--background-color-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

#root {
  max-width: 100%;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--button-hover-color);
}

button:focus,
button:focus-visible {
  outline: var(--button-focus-outline);
}

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--background-color-light);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: var(--button-background-light);
  }
}

/* Font Face */
@font-face {
  font-family: 'Audiowide';
  src: url('./assets/fonts/Audiowide-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
